@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
	/* Colors */
	--color-h: 20;
	--color-s: 20%;
	--color-l: 41%;
	--color-blue: hsl(216, 100%, 50%);
	--color-black: hsl(0, 0%, 0%);
	--color-gray: hsl(0 0% 44%);

	--brand-primary: hsl(var(--color-h) var(--color-s) var(--color-l));
	--brand-a30: hsl(var(--color-h) var(--color-s) var(--color-l) / 0.3);

	/* Fonts */
	--font-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--font-sans);
	font-optical-sizing: auto;
	letter-spacing: -0.5px;
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
}

body {
	padding: 32px 128px;
	font-size: 16px;
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 8px;
}

section {
	max-width: 419px;

	border: 1px solid var(--brand-a30);
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
	padding: 24px;

	&.container-1 {
		justify-content: flex-start;
		grid-row: span 3 / span 3;
		padding-bottom: 48px;
	}
	&.container-3 {
		align-items: flex-start;
		grid-column-start: 2;
	}
	&.container-4 {
		grid-column-start: 2;
		grid-row-start: 3;
	}
}

header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

h1 {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: -0.2px;
}

h2 {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	gap: 8px;
	width: 100%;
}

strong {
	font-weight: 600;
}

p {
	color: var(--color-gray);
	font-weight: 300;
}

pre {
	margin: 0;
	font-size: 12px;
	letter-spacing: 0;
}

button {
	display: flex;
	margin-left: 16px;
	cursor: pointer;
	border: none;
	background-color: hsl(var(--color-h) var(--color-s) var(--color-l) / 0.2);
	color: var(--brand-primary);
	padding: 6px 8px;
	border-radius: 6px;
	transition: transform 0.2s ease-in-out;

	&:hover {
		transform: rotate(10deg) scale(1.05);
	}
	&:active {
		transform: scale(0.95);
	}
}

sub {
	color: var(--color-gray);
	font-weight: 300;
}

a {
	text-decoration: none;
}

.highlighted {
	color: var(--highlighted-color, var(--brand-primary));
}

[data-highlighted="brown"] {
	--highlighted-color: var(--brand-primary);
}
[data-highlighted="blue"] {
	--highlighted-color: var(--color-blue);
}

.link {
	cursor: pointer;
	text-decoration-style: dotted;
	text-decoration-line: underline;
	text-underline-offset: 3px;
}

.row-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

.column-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	& strong {
		color: var(--color-black);
		font-weight: 800;
		font-size: 15px;
	}

	& span {
		color: var(--color-gray);
		font-size: 13px;
		letter-spacing: -0.2px;
	}
}

.badge {
	border: 1px solid var(--brand-a30);
	padding: 4px 8px;
	gap: 6px;
	border-radius: 38px;

	& #circle {
		background-color: var(--brand-primary);
		border-radius: 38px;
		height: 8px;
		width: 18px;
	}

	& span {
		color: var(--brand-primary);
		font-family: monospace;
		font-size: 13px;
	}
}

.squad-wrapper {
	gap: 8px;
	font-size: 12px;
}

.join-button {
	background-color: hsla(0 0% 44% / 0.3);
	border-radius: 32px;
	padding: 12px 24px;
	color: var(--color-black);
	text-decoration: none;
	font-size: 28px;
	gap: 8px;
}

.code-box {
	display: flex;
	align-items: center;
	background-color: hsl(var(--color-h) var(--color-s) var(--color-l) / 0.1);
	color: var(--brand-primary);
	padding: 8px;
	border-radius: 8px;
	gap: 8px;
	font-family: ui-monospace, monospace;
	width: max-content;
}
